@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 375px;
  margin: 0 auto;
}

body._lock{
  overflow: hidden;
}

.title{
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
}

.text{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.first-page{
  background: #E0E1E2;
}

.logo-white{
    width: 130px;
    margin: 25px 122px 148px 123px;

}

.logo-black{
  width: 130px;
  margin: 25px 123px 94px 122px ;
}

.first-page__body{
  background-image: url(img/MX-Master\ 1.png);
  background-repeat: no-repeat;
}

.first-page__text{
  margin: 274px 59px 40px;
}

.arrow-link{
  margin: 40px 168px 48px;
}

.menu__burger span,
.menu__burger::before,
.menu__burger::after {
  z-index: 2;
  left: 316px;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: all 0.3s ease 0s;
  background: #2F3132;
}

.menu__burger::before,
.menu__burger:after {
  content: "";
}

.menu__burger::before{
  top: 25px;
}
.menu__burger::after{
  top: 39px;
}

.menu__burger span {
  top: 34px;
  transform: scale(1) translate(0px, -50%);
}

.menu__burger._active span {
  transform: scale(0) translate(0px, -50%);
}
.menu__burger._active::before{
  background: #FFFFFF;
  top: 36px;
  transform: rotate(-45deg) translate(0px, -50%);
}

.menu__burger._active::after{
  background: #FFFFFF;
  top: 34px;
  transform: rotate(45deg) translate(0px, 50%);
}

.menu__list-large{
  display: none;
}

.menu__list{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(-100%, 0px);
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease 0s;
  overflow: auto;
}
.menu__list._active{
  transform: translate(0px, 0px);
}

.menu__list-items a{
  text-decoration: none;
  color: #C4C4C4;
}
.menu__list-items a:hover{
  border-bottom:  2px solid #FFFFFF;
}

.title-item{
  padding-bottom: 32px;
}

.title-item:last-child{
  padding-bottom: 0;
}

/* second-page */

.second-page{
  background: #EDEDED;
  height: 547px;
}

.bluetooth-icon{
  width: 18px;
  height: 34px;
  margin: 42px 178px 27px 179px;
}

.second-page__text{
  margin: 20px 33px 31px 34px;;
}

.box-mouse{
  background-image: url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.text-large{
  padding: 0 33px 236px 34px;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  color: #C4C4C4;
}

/* three-page */

.three-page__title{
  margin: 70px 86px 20px 87px;
}

.three-page__text{
  margin: 0 61px 30px 67px;
}

.three-page__grid{
 display: flex;
 justify-content: space-evenly;
 margin-bottom: 28px;
}

.grid__row{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 166px;
  height: 94px;
  border: 1px solid #000000;
}

.slider-wrapper{
  width: 375px;
  height: 240px;
  overflow: hidden;
}

.slider-line{
  width: 1500px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.slider-line img{
  width: 375px;
}

.slider__title{
  margin: 27px 33px 20px 34px;
  font-size: 14px;
  line-height: 16px;
}

.slider__text{
  margin: 0 33px 35px 34px;
}

.slider-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 308px;
  height: 30.5px;
  margin: 0 33px 19.5px 34px;
}

.slider-nav img{
  width: 30.5px;
  height: 30.5px;
}

.slider-nav img:first-child,
.slider-nav img:last-child{
  width: 9.15px;
  height: 18.3px;
}

/* four-page  */

.four-page{
  background: #EDEDED;
}

.four-page__title{
  padding: 70px 28px 20px 29px;
}

.four-page__text{
  margin: 0 33px 36px 34px;
}

.four-page__box{
  background-image: url(img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
  background-repeat: no-repeat;

}

.box__list{
  list-style-type: none;
  padding: 0 97px 170.5px 54px ;
}

.box__list li{
  text-align: left;
  padding-bottom: 16px;
}

/* five-page */

.five-page__title{
  margin: 70px 71px 20px 72px;
}

.five-page__slider{
  margin: 35px 22px 20px 23px;
}

.slider-line__wrapper{
  width: 330px;
  height: 405px;
  overflow: hidden;
}

.slider-line__mouse{
  width: 1416.24px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.slider-line__mouse img:first-child{
  width: 330px;
}

.slider-line__mouse img{
  width: 271.56px;
  padding-right: 58px;
}

.slider-line__mouse img:last-child{
  padding-right: 0;
}

.five-page__nav{
  display: flex;
  justify-content: space-around;
  width: 165px;
  margin: 20px 104px 60px 106px;
}

.circle-slider{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #C4C4C4;
}

.circle-slider:hover{
  background: #2F3132;
}

.five-page__box{
  background: #C4C4C4;
}

.icon-apps{
  padding: 23px 22px 29px 20px ;
}
.icon-apps img{
  width: 324px;
}
.box__text{
  padding: 0 26px 33px 34px;
  color: #FFFFFF;
}

/* six-page */

.six-page__title{
 margin: 70px 34px 20px;
}

.six-page__text{
  margin: 0 34px 20px;
}

.six-page__img{
  width: 375px;
}

.six-page__img-two{
  display: none;
}

.footer{
  height: 75px;
  background: #2F3132;
}

.footer__text{
  padding: 22px 145px 37px;
  font-size: 7px;
  line-height: 8px;
  color: #C7C8C8;
}

@media (min-width: 894px) {
  body{
    width: 894px;
  }

  .title{
    font-size: 40px;
    line-height: 47px;
  }

  .text{
    font-size: 24px;
    line-height: 28px;
  }

  .first-page__body{
    background-image: url(img/screen894/MX-Master\ 1.png);
    background-repeat: no-repeat;
  }

  .menu__list-large{
    display: none;
  }

  .logo-black{
    width: 240px;
    margin: 54px 327px 159.7px;
  } 
  .logo-white{
    width: 240px;
    margin: 64px 327px 123.4px;
  }

  .menu__burger span,
  .menu__burger::before,
  .menu__burger::after {
    left: 775px;
    height: 8px;
    width: 61px;
}

.menu__burger::before{
  top: 54px;
}
.menu__burger::after{
  top: 86px;
}

.menu__burger span {
  top: 74px;
}

.menu__burger._active::before{
  top: 79px;
}

.menu__burger._active::after{
  top: 74px;
}

.first-page__text{
  margin: 591px 155px 185px 154px;
}

.arrow-link{
  margin: 76px 419px 80px 418px;
}

.title-item{
  padding-bottom: 59px;
}
/* second-page */

.second-page{
  height: 990px;
}

.bluetooth-icon{
  width: 24.45px;
  height: 39.95px;
  margin: 80px 436px 39.05px;
}

.second-page__text{
  margin: 30px 77px 76px;
}

.box-mouse{
  background-image: url(img/screen894/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.text-large{
  padding: 0 111px 421px 112px;
  font-size: 150px;
  line-height: 176px;
}

/* three-page */

.three-page__title{
  margin: 70px 245px 80px 246px;
}

.three-page__text{
  margin: 0 77px 50px;
}

.three-page__grid{
 display: flex;
 justify-content: space-evenly;
 margin-bottom: 50px;
}

.grid__row{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  height: 170px;
  border: 1px solid #000000;
}

.slider-wrapper{
  width: 894px;
  height: 573px;
  overflow: hidden;
}

.slider-line{
  width: 1500px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.slider-line img{
  width: 894px;
}

.slider__title{
  margin: 50px 125px 23px 126px;
  font-size: 24px;
  line-height: 28px;
}

.slider__text{
  margin: 0 77px 61px;
}

.slider-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 404px;
  height: 40px;
  margin: 0 245px 22px;
}

.slider-nav img{
  width: 40px;
  height: 40px;
}

.slider-nav img:first-child,
.slider-nav img:last-child{
  width: 12px;
  height: 24px;
}

/* five-page */

.four-page__title{
  padding: 70px 129px 30px;
}

.four-page__text{
  margin: 0 65px 70px 64px;
}

.four-page__box{
  background-image: url(img/screen894/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
  background-repeat: no-repeat;
  height: 624.21px;
}

.box__list{
  display: grid;
  grid-template-columns: 294px 293px 157px;
  list-style-type: none;
  padding: 0 67px 0 68px ;
}

.box__list li{
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  padding-left: 22px;
  border-right: 1px solid #494949;
}
.box__list li:first-child{
  padding-left: 0;
}

.box__list li:last-child{
  border-right: none;
}

/* five-page */

.five-page__title{
  margin: 69px 215x 30px;
}

.five-page__slider{
  margin: 54px 198px 70px 199px;
}

.slider-line__wrapper{
  width: 497px;
  height: 610px;
}

.slider-line__mouse{
  width: 1416.24px;
}

.slider-line__mouse img:first-child{
  width: 497px;
}

.slider-line__mouse img{
  width: 440px;
  padding-right: 58px;
}

.slider-line__mouse img:last-child{
  padding-right: 0;
}

.five-page__nav{
  width: 275px;
  margin: 53px 104px 0 106px;
}

.circle-slider{
  width: 25px;
  height: 25px;
}

.five-page__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 65px 70px 64px;
}

.icon-apps{
  padding: 38px 126px 25px 127px ;
}

.box__text{
  font-size: 20px;
  line-height: 23px;
  height: 69px;
  margin: 0 26px 29px 34px;
}

/* six-page */

.six-page__title{
  margin: 70px 65px 30px 67px;
 }
 
 .six-page__text{
   margin: 0 65px 50px 67px;
 }

 .six-page__img{
   width: 894px;
 }

 /* footer */
 
 .footer{
   height: 150px;
 }
 
 .footer__text{
   padding: 47px 362px 71px;
   font-size: 14px;
   line-height: 16px;
 }
}
@media (min-width: 1280px) {
  body{
    width: 1280px;
  }

  .header{
    height: 100px;
    background: #2F3132;
  }

  .logo-white{
    width: 150px;
    margin: 0;
  }

  .menu__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: static;
    width: 1280px;
    height: 100px;
    transform: none;
    background-color: none;
    transition: none;
    overflow: visible;
  }

  .menu__list-items{
    display: none;
  }

  .menu__list-large{
    width: 860px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  } 

  .text-item__large{
    border-right: 1px solid #494949;
    padding-right: 21px;

  }

  .text-item__large:last-child{
    padding-right: 0;
    border-right: none;
  }

  .text-item__large a{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;   
  }

  .text-item__large a:hover{
    text-transform: uppercase;
    border-bottom: 1px solid #FFFFFF;
  }

  .title{
    font-size: 36px;
    line-height: 42px;
  }

  .text{
    font-size: 20px;
    line-height: 23px;
  }

  .first-page__body{
    background-image: url(img/screen1280/MX-Master\ 1.png);
    background-repeat: no-repeat;
  }
  
  .first-page__title{
    padding: 70px 392px 557px 393px;
  }

  .first-page__text{
    margin: 0 297px 0px 298px;
  }
  
  .arrow-link{
    margin: 49px 611px 56px 612px;
  }

  .logo-black{
    display: none;
  } 

  .menu__burger span,
  .menu__burger::before,
  .menu__burger::after {
    display: none;
}

/* second-page */

.second-page{
  height: 758px;
}

.bluetooth-icon{
  width: 21.43px;
  height: 39.95px;
  margin: 44.5px 629.57px 40px 629px;
}

.second-page__text{
  margin: 35px 259px 14px 260px;
}

.box-mouse{
  background-image: url(img/screen1280/left.png), url(img/screen1280/right.png);
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
}

.text-large{
  font-size: 300px;
  line-height: 352px;
  text-align: center;
  padding: 0 302px 70px 376px;;
}

.text-large span{
  position: relative;
  bottom: 145px;
  font-size: 96px;
  line-height: 112px;
}

/* three-page */

.three-page__title{
  margin: 70px 458px 35px 459px;
}

.three-page__text{
  margin: 0 257px 50px 258px;
}

.three-page__grid{
 display: flex;
 justify-content: center;
 margin-bottom: 50px;
}

.grid__row:first-child{
  margin-right: 31.5px;
}

.grid__row{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 236.4px;
  height: 140px;
  border: 1px solid #000000;
}
.grid__row-title{
  font-size: 36px;
  line-height: 42px;
}

.slider-wrapper{
  width: 1280px;
  height: 573px;
  overflow: hidden;
}

.slider-line{
  width: 1500px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.slider-line img{
  width: 1280px;
}

.slider__title{
  margin: 39px 318px 15px 319px;
  font-size: 20px;
  line-height: 23px;
}

.slider__text{
  margin: 0 257px 70px 258px;
}

.slider-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 404px;
  height: 40px;
  margin: 0 438px 35px;
}

/* four-page */

.four-page__title{
  padding: 70px 244px 35px;
}

.four-page__text{
  margin: 0 160px 66px 162px;
}

.four-page__box{
  background-image: url(img/screen1280/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 700px;
}

.box__list{
  display: grid;
  grid-template-columns: 327px 415px 201px;
  list-style-type: none;
  padding: 0 168px 0 169px ;
}

.box__list li{
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  padding-left: 60px;
  border-right: 1px solid #494949;
}
.box__list li:first-child{
  padding-left: 0;
}

.box__list li:last-child{
  border-right: none;
}

/* five-page */

.five-page__title{
  margin: 70px 290x 38px;
}

.five-page__text{
  margin: 0 161px 54px;
}

.five-page__slider{
  display: none;
}

.five-page__specifications{
  background-image: url(img/screen1280/specifications.png);
  background-repeat: no-repeat;
  background-position: top;
  height: 698px;
}

.five-page__box{
  margin: 0 243px 71px 288px;
}

.icon-apps{
  display: flex;
  justify-content: space-around;
  padding: 38px 117px 25px 120px;
}

.box__text{
  padding: 0;
}

/* six-page */

.six-page__wrapper{
  display: flex;
}

.one-box{
  display: flex;
  flex-direction: row-reverse;
}

.six-page__title{
  text-align: left;
  margin: 70px 72px 30px 36px;
 }
 
 .six-page__text{
   text-align: left;
   margin: 0 65px 50px 36px;
 }

 .six-page__title-two{
  text-align: right;
  margin: 162px 32px 34px 291px;
 }
 
 .six-page__text-two{
   text-align: right;
   margin: 0 32px 162px 208px;
 }

 .six-page__img{
   display: none;
 }
 .six-page__img-two{
   display: block;
 }
 /* footer  */
 .footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
 }
 .footer__text{
   padding: 0;
   width: 170px;
   font-size: 14px;
   line-height: 16px;
 }
}
@media (min-width: 1920px) {

   body{
    width: 1920px;
  }

  .logo-white{
    width: 150px;
    margin: 0;
  }

  .menu__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: static;
    width: 1280px;
    height: 100px;
    transform: none;
    background-color: none;
    transition: none;
    overflow: visible;
  }

  .menu__list-items{
    display: none;
  }

  .menu__list-large{
    width: 860px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  } 

  .text-item__large{
    border-right: 1px solid #494949;
    padding-right: 21px;

  }

  .text-item__large:last-child{
    padding-right: 0;
    border-right: none;
  }

  .text-item__large a{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;   
  }

  .text-item__large a:hover{
    text-transform: uppercase;
    border-bottom: 1px solid #FFFFFF;
  }

  .title{
    font-size: 36px;
    line-height: 42px;
  }

  .text{
    font-size: 20px;
    line-height: 23px;
  }

  .first-page__body{
    background-image: url(img/screen1280/MX-Master\ 1.png);
    background-repeat: no-repeat;
  }
  
  .first-page__title{
    padding: 70px 392px 557px 393px;
  }

  .first-page__text{
    margin: 0 297px 0px 298px;
  }
  
  .arrow-link{
    margin: 49px 611px 56px 612px;
  }

  .logo-black{
    display: none;
  } 

  .menu__burger span,
  .menu__burger::before,
  .menu__burger::after {
    display: none;
}

/* second-page */

.second-page{
  height: 758px;
}

.bluetooth-icon{
  width: 21.43px;
  height: 39.95px;
  margin: 44.5px 629.57px 40px 629px;
}

.second-page__text{
  margin: 35px 259px 14px 260px;
}

.box-mouse{
  background-image: url(img/screen1280/left.png), url(img/screen1280/right.png);
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
}

.text-large{
  font-size: 300px;
  line-height: 352px;
  text-align: center;
  padding: 0 302px 70px 376px;;
}

.text-large span{
  position: relative;
  bottom: 145px;
  font-size: 96px;
  line-height: 112px;
}

/* three-page */

.three-page__title{
  margin: 70px 458px 35px 459px;
}

.three-page__text{
  margin: 0 257px 50px 258px;
}

.three-page__grid{
 display: flex;
 justify-content: center;
 margin-bottom: 50px;
}

.grid__row:first-child{
  margin-right: 31.5px;
}

.grid__row{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 236.4px;
  height: 140px;
  border: 1px solid #000000;
}
.grid__row-title{
  font-size: 36px;
  line-height: 42px;
}

.slider-wrapper{
  width: 1280px;
  height: 573px;
  overflow: hidden;
}

.slider-line{
  width: 1500px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.slider-line img{
  width: 1280px;
}

.slider__title{
  margin: 39px 318px 15px 319px;
  font-size: 20px;
  line-height: 23px;
}

.slider__text{
  margin: 0 257px 70px 258px;
}

.slider-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 404px;
  height: 40px;
  margin: 0 438px 35px;
}

/* four-page */

.four-page__title{
  padding: 70px 244px 35px;
}

.four-page__text{
  margin: 0 160px 66px 162px;
}

.four-page__box{
  background-image: url(img/screen1280/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 700px;
}

.box__list{
  display: grid;
  grid-template-columns: 327px 415px 201px;
  list-style-type: none;
  padding: 0 168px 0 169px ;
}

.box__list li{
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  padding-left: 60px;
  border-right: 1px solid #494949;
}
.box__list li:first-child{
  padding-left: 0;
}

.box__list li:last-child{
  border-right: none;
}

/* five-page */

.five-page__title{
  margin: 70px 290x 38px;
}

.five-page__text{
  margin: 0 161px 54px;
}

.five-page__slider{
  display: none;
}

.five-page__specifications{
  background-image: url(img/screen1280/specifications.png);
  background-repeat: no-repeat;
  background-position: top;
  height: 698px;
}

.five-page__box{
  margin: 0 243px 71px 288px;
}

.icon-apps{
  display: flex;
  justify-content: space-around;
  padding: 38px 117px 25px 120px;
}

.box__text{
  padding: 0;
}

/* six-page */

.six-page__wrapper{
  display: flex;
}

.one-box{
  display: flex;
  flex-direction: row-reverse;
}

.six-page__title{
  text-align: left;
  margin: 70px 72px 30px 36px;
 }
 
 .six-page__text{
   text-align: left;
   margin: 0 65px 50px 36px;
 }

 .six-page__title-two{
  text-align: right;
  margin: 162px 32px 34px 291px;
 }
 
 .six-page__text-two{
   text-align: right;
   margin: 0 32px 162px 208px;
 }

 .six-page__img{
   display: none;
 }
 .six-page__img-two{
   display: block;
 }
 /* footer  */
 .footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
 }
 .footer__text{
   padding: 0;
   width: 170px;
   font-size: 14px;
   line-height: 16px;
 }
}
}